/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: rgb(23, 141, 100);
  box-shadow: 0 1px 2px rgb(8, 8, 8);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a .img{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin: 10px;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #3E8DA8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #3E8DA8;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #3E8DA8;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #3E8DA8;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  nav{
    /* position: relative; */
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #3E8DA8;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}


.courses{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top:100px;
}
h1{
  font-size: 36px;
  font-weight:600;
}
p{
  color:#777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding:10px;
}
.row{
  margin-top:5%;
  display: flex;
  justify-content: space-between;
}
.course-col{
  flex-basis:31%;
  background: #fff3f3;
  border-radius:10px;
  margin-bottom:5%;
  padding:20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px;
}
.course-col:hover{
  box-shadow: 0 0 20px 0px rgba(4,9,30,0.7);

}

/*-----------campus----------*/
.campus{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top:50px;
}
.campus-col{
  flex-basis:32%;
  border-radius: 10px;
  margin-bottom:30px;
  position:relative;
  overflow:hidden;
}
.campus-col img{
  width:100%;
  display: block;
}

.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.5s;
}
.layer:hover {
  background:rgba(226,0,0,0.7); 
}
.layer h3{
  width: 100%;
  font-weight: 500;
  color:#fff;
  font-size:26px;
  bottom:0;
  left:50%;
  transform: translatex(-50%);
  position: absolute;
  transition: 0.5s;
}
.layer:hover h3{
  bottom:50%;
  opacity: 1;
}
/*----------FACILIISES--------*/
.facilities{
  width:80%;
  margin:auto;
  text-align: center;
  padding-top: 100px;
}
.facilities-col{
  flex-basis:31%;
  border-radius:10px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities-col img{
  width:100%;
  border-radius: 10px;
  box-shadow: 0 0 40px 0px rgba(4,9,30,0.7);
  background: transparent;
  flex-basis:31%;
  background: #fff3f3;
  border-radius:10px;
  margin-bottom:5%;
  padding:20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  

}
.facilities-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}
/*------test imonials------*/
.testimonials{
  width:80%;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}
.testimonials-col{
  flex-basis:44%;
  border-radius:10px;
  margin-bottom:5%;
  text-align:left;
  background: pink;
  padding:25px;
  cursor:pointer;
  display:flex;
}
.testimonials-col img{
  height:40px;
  margin-left:5px;
  margin-right:30px;
  border-radius:50%;

}
.testimonials-col p{
  padding: 0;
}
.testimonials-col h3{
  margin-top: 15px;
  text-align: left;
}
.testimonials-col .fa{
  color:#f44336;
}
/*--------call to action ----------*/
.cta {
  margin: 100px auto;
  width: 80%;
  position: relative; /* Add a relative position to .cta */
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
  filter: blur();
  transition: filter 0.3s ease-in-out;
}

.cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/bcalogo.jpg);
  background-size: cover;
  filter: blur(5px);
  transition: fliter 0.3s ease-in-out;
  border-radius: 10px;
  z-index: -1; /* Send the pseudo-element to the background */
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}


/*--------abiut us ----------*/
.about-us{
  width:80%;
  margin:auto;
  padding-top:80px;
  padding-bottom:50px;
}
.about-col{
  flex-basis:48%;
  padding:30px 2px;
}
.about-col img{
  width:100%;
}
.about-col h1{
  padding-top:0;
}
.about-col p{
  padding:15px 0 25px;
}
.red-btn{
  border:1px solid #f44336;
  background:transparent;
  color:#f44336;
}
.red-btn:hover{
  color:#fff;
}




/*-----menu*/

#hero{
  width:100%;
  height: 100vh;
  overflow:hidden;
  position: relative;
}
#hero:after{
  content:'';
  position:absolute;
  left:50%;
  top:0;
  width:130%;
  height:95%;
  background:linear-gradient(to right,rgba(0, 246, 246, 0.904),rgba(20,54,1,0.4)),url("images/bcalogo.jpg")center top no-repeat;/*image-size 1920H 1080W*/
  z-index:0;
  border-radius: 0 0 50% 50%;
  transform:translateX(-50%) rotate(0deg);
}
#hero:before{
  content:'';
  position: absolute;
  left:50%;
  top:0;
  width:130%;
  height:96%;
  background:rgba(110,155,39,0.8);
  opacity:0.3;
  z-index:0;
  border-radius:0 0 50% 50%;
  transform: translateX(-50%)translateY(18px)rotate(2deg);
}
#hero .carousel-container{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  bottom:0;
  top:0;
  left:0;
  right:0;
}
#hero h2{
  color:#fff;
  margin-bottom:30px;
  font-size:48px;
  font-weight:bold;
}
#hero p{
  width:80%;
  animation-delay:0.4s;
  margin:0 auto 30px auto;
  color:#fff;
}
#hero .carousel-control-prev, 
#hero .carousel-control-next{
  width:10%;
}
#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon{
  background:none;
  font-size:48px;
  line-height:1;
  width:auto;
  height: auto;
}
#hero .hero-btn{
  font-weight:bold;
  font-size:16px;
  letter-spacing:1px;
  display:inline-block;
  padding:12px 32px;
  border-radius:50px;
  transition:0.5s;
  line-height:1;
  margin:10px;
  color:#fff;
  animation-delay:0.5s;
  border:2px solid #9ef596;
}
#hero .hero-btn:hover{
  background:#0a6801;
  color:#fff;
  text-decoration:none;
}
@media(min-width:1024px){
  #hero p{
      width:60%;
  }
  #hero .carousel-control-prev,
  #hero .carousel-control-next{
      width:5%;
  }
}
@media(max-width:768px){
  #hero h2{
      font-size:28px;
  }
  #hero:after{
      width:180%;
      height:95%;
      border-radius:0 0 50% 50%;
      transform:translateX(-50%)rotate(0deg);
  }
  #hero:before{
      top:0;
      width:180%;
      height:94%;
      border-radius: 0 0 50% 50%;
      transform: translateX(-50%)translateY(20px)rotate(4deg);
  }
}
@media(max-width:575px){
  #hero:after{
      left:40%;
      top:0;
      width:200%;
      height:95%;
      border-radius: 0 0 50% 50%;
      transform: translateX(-50%)rotate(0deg);
  }
  #hero:before{
      left:50%;
      top:0;
      width:200%;
      height:94%;
      border-radius: 0 0 50% 50%;
      transform: translateX(-50%)translateY(20px)rotate(4deg);

  }
}




/*------blog content--------*/
.blog-content{
  width:80%;
  margin:auto;
  padding:60px 0;
}
.blog-left{
  flex-basis: 50%;
}
.blog-left img{
  width:100%;
  align-items: center;
}
.blog-left h2{
  color:#000000;
  font-weight:600;
  margin:30px 0;
}
.blog-left p{
  color:#000000;
  padding:0;
  letter-spacing: 0.05em;
  
}
.blog-right{
  flex-basis:32%;
}
.blog-right h3{
  background:#f44336;
  color:#fff;
  padding:7px 0;
  font-size:16px;
  margin-bottom: 20px;
}
.blog-right div{
  display:flex;
  align-items:center;
  justify-content:space-between;
  color:#555;
  padding:8px;
  box-sizing:border-box;
}
.comment-box{
  border:1px solid #ccc;
  margin:50px 0;
  padding:10px 20px;

}
.comment-box h3{
  text-align:left;
}

.comment-form input, .comment-form textarea{
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}
.comment-box form button{
  margin:10px 0;
}


/*-------------------
/*------blog content--------*/
.blog-content {
  width: 80%;
  margin: auto;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}

.blog-left {
  flex-basis: 50%;
}

.blog-left img {
  width: 100%;
  align-items: center;
}

.blog-left h2 {
  color: #000000;
  font-weight: 600;
  margin: 30px 0;
}

.blog-left p {
  color: #000000;
  padding: 0;
  letter-spacing: 0.05em;
}

.blog-right {
  flex-basis: 32%;
}

.blog-right h3 {
  background: #f44336;
  color: #fff;
  padding: 7px 0;
  font-size: 16px;
  margin-bottom: 20px;
}

.blog-right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 8px;
  box-sizing: border-box;
}

.comment-box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}

.comment-box h3 {
  text-align: left;
}

.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.comment-box form button {
  margin: 10px 0;
}

